@font-face {font-family:"Pokemon Solid Normal"; src:url("../LandingPage/pokemonsolid.eot") 
    format("eot"),url("../LandingPage/pokemonsolid.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    font-size: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.home{
    min-height: 100vh;
    background-color: rgb(119, 104, 219);
    background-size: 100%;
}

.cargando{
    font-family:cursive;
    color:aliceblue
}

.link{
    font-family:cursive;
    color:aliceblue;
    font-size:20px; 
}

.title{
    font-family:"Pokemon Solid Normal";
    color:red;
    font-size: 35px;
    display:flex;
    justify-content:center;
    align-content: space-around;
}

.button, .sorting{
    cursor: pointer;
    font-family:cursive;
    font-size: 15px;
    border-width: 5px;
    border-style:groove;
    border-radius: 2px;
    background-color:rgb(131, 43, 131);
    color:white;
}
