@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.card{
    display:inline-table;
    background-color: rgba(224, 58, 58, 0.308);
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 4px 10px; 
    
    
}

.name{
    font-family: 'Press Start 2P', cursive;
}

.image{
    width: 400px;
    height: 400px
}

.typesImg {
    position:relative;
    width:150px;
    height:150px;
    align-content: center;
}

.typeName{
    color:black;
    font-family: cursive;
    font-size: 20px;
    text-transform: capitalize;
    position:relative;
  
}