.searchbar{
    font-family: cursive;
   width: 120px;
   height: 20px;
}
.button{
    cursor: pointer;
    color:aliceblue;
    width: 70px;
    height: 25px;
    font-family: cursive;
    border-width: 3px;
    border-style:groove;
    border-radius: 2px;
    background-color:rgb(131, 43, 131);
}