/* .paginado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: blanchedalmond;
    cursor: pointer;
    font-size: 20px;
} */
.paginacion {
    margin: 15px 0;
  }
  
  .paginacion ul {
    list-style: none;
    text-align: center;
  }
  
  .paginacion ul li {
    display: inline-block;
    margin-right: 5px;
  }
  
  .paginacion ul li a {
    display: block;
    padding: 4px 10px;
    color: rgb(0, 0, 0);
    background: #c7a008;
    text-decoration: none;
    border-radius: 8px;
  }
  
  .paginacion ul li a:hover {
    background: #037e8c;
  }
  
  .paginacion ul li .active {
    background: #037e8c;
    font-weight: bold;
  }
  