@font-face {font-family:"Pokemon Solid Normal"; src:url("pokemonsolid.eot") 
    format("eot"),url("pokemonsolid.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    font-size: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('landinpokemon.jpg');
    background-size: 100%;
}

.title{
    font-family: 'Pokemon Solid';
    letter-spacing:2px;
    font-size: 45px;
    color:rgb(212, 147, 147);
    display:flex;
    position:fixed;
    justify-content: space-around;
    align-items:center;
    top: -3px;
}

.button{
    cursor:pointer;
    position:flex;
    justify-content:space-around;
    align-items: center;
    color: aliceblue;
    font-family:'Press Start 2P', cursive;
    background-color:rgb(136, 0, 79) ;
    border-width: 5px;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 10px 15px;
    font-size:45px;
    
}